[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
flask-cors = "==3.0.10"
flask-sqlalchemy = "==3.0.3"
flask-migrate = "==4.0.5"
flask-jwt-extended = "==4.4.4"
python-dotenv = "==1.0.0"
flask-admin = "==2.0.2"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python app.py"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
resetdb = "python -c \"\nfrom app import app, db\n\nwith app.app_context():\n    db.drop_all()\n    db.create_all()\n    print('resetdb complete')\n\""
seed = "python seed.py"
